{% extends 'base.html' %}
{% block content %}
    <main class="container py-5">
        <section class="card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda ex, architecto commodi asperiores quibusdam, nobis reiciendis incidunt nihil molestiae neque officia unde aliquid soluta. Suscipit porro eum in sapiente aspernatur voluptate quam non quas, sequi omnis praesentium neque perspiciatis repudiandae nisi facere autem quisquam ad consequuntur, laudantium alias quibusdam maxime nesciunt temporibus iste. Dolorum enim recusandae ipsam voluptatum atque quis error mollitia tempora? Nostrum sunt sint cupiditate neque inventore corporis optio ducimus explicabo consequatur quia minus architecto earum, quas possimus ipsa amet vero repudiandae illum? Minima quis, labore rem voluptatum magnam laudantium impedit aliquam iusto ipsam atque dignissimos sed beatae?</p>

            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signup
                </a>
            </div>
        </section>
    </main>
{% endblock %}